
<template name="layout">
	{{!-- The main layout template --}}
    {{>head}}
    {{> sAlert}}

	{{#if currentUser}}
		{{!-- if the user is logged in show the header and main yield --}}
		<div class="container">
			<div class="row">
				<div class="col s12 col-no-padding">
						{{> header}}
				</div>
				<div class="col s12" id="main">
					{{> yield}}
				</div>
			</div>

		</div>
	{{/if}}

	{{!-- show login form only if not logged in, yield will be specified by the route via this.render(templateName) --}}
	{{#unless currentUser}}
		{{> yield}}
	{{/unless}}
</template>